
.logo {

    background: linear-gradient( #b4b4b2, #236baf,#02203c);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
      height: 85px ;
      font-size: 50px;
      padding-left: 50px;
      font-family: fantasy;
      font-style: italic;
     
  
  }
  
  .main{
    background-color:rgb(16, 12, 80);
      
      display: flex;
      max-width: none;
      color:white ;
      -webkit-box-pack: start;
      justify-content: center;
      width: 97%;
      box-sizing: border-box;
      height: 100px;
      padding: 25px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: -40px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 15px;
  }
  #button,
  #reset{
      
    background-color: #fff; 
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: medium;
    border-color: #d1cad1;
    border-radius: 10px;
    color: black;
  }
  #button:hover{
    background-color: #e7e4e6;
    color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  #reset:hover{
    background-color: #e7e4e6;
    color: black;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }
  #text{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      width: 100%;
      height: 27px;
      color: black;
      border-radius: 10px;
      
      
  }
  .text{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 30%;
    display: inline;
    height: 27px;
    color: black;
    border-radius: 10px;

}
  div.seq{
     
      margin: 20px;
      padding: 30px;
      
      background-color:rgb(16, 12, 80);
      color: beige;
  }
  label{
      
      color: white;
      justify-content: center;
      align-items: center;
      
  
  }
  .ex{
    background-color: #e9e9dc;
    padding: 20px;
    margin: 10px;
}
.txt{
    background-color: #e4dce4;
    padding: 35px;
    margin: 20px;
}
p{
    font-size: 20px;
}